<app-navbar></app-navbar>



<!-- <h1 style = 'text-align:center'>Welcome to Blue Chip {{me}}<h1>
  
  <img [src]="image" style="height: 100px  width: 250px; class = center">
  
  <br>
  <div style="text-align: center;"> <button  (click)="onClick()">Subscribe</button><br>
  <input [(ngModel)]= "value" type="text"> <br>
  {{value}}
  </div>


  <div class="container">
    <h1>User Registration</h1>
    <form #login="ngForm" (ngSubmit)="submit(login)">
<div class="form-group">
  <label for="firstName">First Name</label><br>
  <input required minlength = "2" maxlength = "7" type="text" name="firstname" class="form-control" ngModel>

</div>
<pre></pre>
<div class="form-group">
  <label for="lastname">Last Name</label><br>
  <input type="text" name="lastname" class="form-control" ngModel>

</div>
<pre></pre>
<div class="form-group">
  <label for="email">Email</label><br>
  <input #name = "ngModel" type="text" name="email" class="form-control" ngModel>

<div *ngIf="name.touched && name.invalid " class="alert alert-danger">
  <p *ngIf ="name.errors?.['required']">First Name Required!!!</p>
  <p *ngIF="name.errors?.['minlength']">Sorry! short First Name</p>
</div>

</div>
<pre></pre>
<div class="form-group">
  <label for="password">Password</label><br>
  <input type="text" name="Password" class="form-control" ngModel>

</div>

<pre></pre>
<button class="btn btn-primary" type="submit">Submit</button>


    </form>

  </div> -->